@model Shop.Models.Orders

@{
    ViewData["Title"] = "Create";
}

<section class="contact">
    <div class="container">
        <div class="row justify-content-center">
            <div class="contact-content">
                <h5>Order</h5>
            </div>
            <div class="fadeInUpzer">
                <form class="main-form" method="post">
                    <div class="row">
                        <div class="col-lg-6">
                            <input asp-for="Name" placeholder="Name*" class="text-input my-2" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="col-lg-6">
                            <input asp-for="CheckInDate" placeholder="CheckInDate*" class="text-input my-2" />
                            <span asp-validation-for="CheckInDate" class="text-danger"></span>
                        </div>
                        <div class="col-lg-6">
                            <input asp-for="CheckOutDate" placeholder="CheckOutDate*" class="text-input my-2" />
                            <span asp-validation-for="CheckOutDate" class="text-danger"></span>
                        </div>
                        <div class="col-lg-6">
                            <input asp-for="Address" placeholder="Address*" class="text-input my-2" />
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                        <div class="col-lg-6">
                            <input asp-for="Email" placeholder="Email*" class="text-input my-2" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="col-lg-6">
                            <input asp-for="Phone" placeholder="Phone*" class="text-input my-2" />
                            <span asp-validation-for="Phone" class="text-danger"></span>
                        </div>
                        <div class="col-lg-12">
                            <input asp-for="Comment" placeholder="Comment*" class="text-input my-2" />
                            <span asp-validation-for="Comment" class="text-danger"></span>
                        </div>
                        <div class="col-lg-12">
                            <input type="submit" value="Orders" class="bt-mee" />
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>
